* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --bege: #ffe6a3;
  --blue: #1dc7f2;
  --green: #1efc70;

  max-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 210px;

  background-color: var(--bege);
  padding: 60px;

  text-align: center;
}

a {
  text-decoration: none;
}

header {
  width: 65%;
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--blue);
  border-radius: 14px;
  padding: 0 40px;
}

header div {
  display: flex;
  gap: 22px;
}

header a {
  color: black;
  text-shadow: 10px 10px 5px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul a {
  color: var(--blue);
  font-style: oblique;
  font-weight: bold;
  font-size: x-large;
}
